@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222 47% 11%;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
